/* =================== WEBPAGE =================== */

:root {
    --primary-color:#F38701;
    --secondary-color:white;
    --third-color:#2a2a2a;
    --my-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --button-border-color:rgb(82, 82, 255);
    --button-color-active: rgb(137, 137, 137);
    --ornage-button-color-active: #d07200;
}

body{
    background-color:white;
    font-family:var(--my-font);
    padding-top:50px;
}

* {
    box-sizing:border-box;
}

/* =================== NAVIGATION BAR =================== */
nav {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    position:fixed;
    top:0;
    width:100%;
    background-color:var(--third-color);
    border-radius:10px;
    z-index:1000;
}

.hnav {
    margin-top:10px;
    padding:10px;
    color:var(--secondary-color);
    transition:all 0.3s ease;
    text-decoration:none;
}

.hnav:hover {
    color:var(--primary-color);
}
/* ============================== HOME ============================== */
/* =================== THE BANNER =================== */
/* ------------------- IMAGE/LAYOUT ------------------ */
.banner {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    background-image: url("https://static.wixstatic.com/media/11062b_565b6e9e1a7a45a9b6693b9e00f9de4d~mv2_d_6720_4480_s_4_2.jpg/v1/fill/w_560,h_368,al_c,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_565b6e9e1a7a45a9b6693b9e00f9de4d~mv2_d_6720_4480_s_4_2.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:30px;
}

/* ------------------- TEXT ------------------ */
.ban {
    padding:50px;
    color:var(--secondary-color);
    z-index:5;
    text-align:center;
}

.trainonly {
    font-size:30px;
    font-style:italic;
    font-weight:bold;
}

.fourfifty {
    font-size:80px;
    font-style:italic;
    font-weight:bold;
    outline:solid;
    padding:10px;
    border-radius: 5px;
    color:var(--primary-color);
    }

.aweek {
    font-size:30px;
    font-style:italic;
    font-weight:bold;
}

.forflex {
    font-size:30px;
    font-style:italic;
    font-weight:bold;
    }

.gymgoers {
    font-size:25px;
    font-style:italic;
}

/* =================== FIND YOUR GYM =================== */
/* ------------------- BACKGROUND/LAYOUT ------------------ */
.findyourgym {
    height:200px;
    background-color:var(--primary-color);
    color:white;
    font-family:var(--my-font);
    font-weight:bold;
    font-size:30px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    border:solid;
    border-radius:10px;
    text-align:center;
    margin-bottom:20px;
}

/* ------------------- FORM ------------------ */
/* ---------- INPUT ---------- */
.inputfindyourgym {
  width:500px;
  transition:all 0.3s ease;
}

.inputfindyourgym:hover {
    transform:scale(1.05);
    border-color:var(--button-border-color);
    box-shadow: 4px 4px 16px grey;
}

/* ---------- BUTTON ---------- */
.findyourgymbutton {
    height:50px;
    width:120px;
    background-color:var(--secondary-color);
    border-radius:5px;
    color:var(--third-color);
    font-family:var(--my-font);
    font-weight:bold;
    border-color:var(--third-color);
    margin-top:10px;
    transition:all 0.3s ease;
}

.findyourgymbutton:hover {
    transform:scale(1.05);
    border-color:var(--third-color);
    border-radius:5px;
    box-shadow: 4px 4px 16px grey;
}

.findyourgymbutton:focus {
    background-color:var(--button-color-active);
    border-color:var(--button-border-color);
} 

/* =================== SERVICE OPTIONS =================== */
/* ------------------- LAYOUT ------------------ */
.findoutmore {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    margin-bottom:20px;
    background-color:var(--secondary-color);
}

/* ------------------- IMAGE LAYOUT ------------------ */
.photos {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    margin-bottom:40px;
    border-color:var(--primary-color);
    border-width:5px;
}

.box {
    height:620px;
    width:400px;
}
/* ------------------- TEXT DESIGN ------------------ */

.buttons {
    height:200px;
    width:300px;
    border-radius:20px;
    text-align:center;
}

.buttonhead {
    font-size:30px;
    color:var(--primary-color);
    font-weight:bold;
    font-family:var(--my-font);
}

.buttonbody {
    font-size:18px;
    color:var(--primary-color);
    font-family:var(--my-font);
}

/* ------------------- BUTTON DESIGN ------------------ */
.thebutton {
    height:50px;
    width:120px;
    background-color:var(--primary-color);
    border-radius:5px;
    color:var(--secondary-color);
    font-family:var(--my-font);
    font-weight:bold;
    border-color:var(--third-color);
    transition: all 0.3s ease;
}

.thebutton:hover {
    transform:scale(1.05);
    border-color:var(--third-color);
    border-radius:5px;
    box-shadow: 4px 4px 16px grey;
}

.thebutton:active {
    background-color:var(--ornage-button-color-active);
    border-color:var(--button-border-color);

}

/* ============================== ABOUT US ============================== */
/* =================== THE BANNER =================== */
/* ------------------- IMAGE/LAYOUT ------------------ */
.banneraboutus {
    height:500px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    flex:1 1 500px;
    background-image: url("https://www.shutterstock.com/image-photo/people-biking-spinning-class-modern-600nw-1897186402.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:30px;
}

/* ------------------- TEXT ------------------ */
.ban2 {
    padding:50px;
    color:var(--secondary-color);
    z-index:5;
    text-align:center;
}

.aboutustitle {
    font-size:30px;
    font-style:italic;
    font-weight:bold;
}

/* =================== DESCRIPTION =================== */
/* ------------------- BACKGROUND/LAYOUT ------------------ */
.description {
    height:200px;
    background-color:var(--primary-color);
    color:white;
    font-family:var(--my-font);
    border:solid;
    border-radius:10px;
    text-align:center;
    padding:10px;
    margin-bottom:20px;
}

.descriptiontitle {
    font-weight:bold;
    font-size:30px;
}

.descriptionbody {
    font-size:15px;
}

/* =================== TESTIMONIALS =================== */
/* ------------------- LAYOUT ------------------ */
.testimonials {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    margin-bottom:20px;
    background-color:var(--secondary-color);
}

/* ------------------- IMAGE LAYOUT ------------------ */
.testphotos {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    margin-bottom:10px;
    border-color:var(--primary-color);
    border-width:5px;
}

.imagefom2 {
    height:400px;
    width:400px;
    border-radius:10px;
    border:solid;
    border-color:var(--third-color);
}

/* ------------------- IMAGE DESIGN ------------------ */
.testbox {
    height:550px;
    width:400px;
}

/* -------------------TEXT LAYOUT ------------------ */
.testtext {
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
}

/* ------------------- TEXT DESIGN ------------------ */

.client {
    height:200px;
    width:300px;
    border-radius:20px;
    text-align:center;
}

.clientname {
    font-size:30px;
    color:var(--primary-color);
    font-weight:bold;
    font-family:var(--my-font);
}

.clientbody {
    font-size:18px;
    color:var(--primary-color);
    font-family:var(--my-font);
}

/* ============================== CONTACT US ============================== */
/* =================== THE BANNER =================== */
/* ------------------- IMAGE/LAYOUT ------------------ */
.bannercontactus {
    height:500px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    flex:1 1 500px;
    background-image: url("https://www.shutterstock.com/image-photo/people-biking-spinning-class-modern-600nw-1897186402.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:30px;
}

/* ------------------- TEXT ------------------ */
.ban3 {
    padding:50px;
    color:var(--secondary-color);
    z-index:5;
    text-align:center;
}

.contactustitle {
    font-size:30px;
    font-style:italic;
    font-weight:bold;
}

/* =================== FORM =================== */
/* ------------------- BACKGROUND/LAYOUT ------------------ */
.contactform {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "formdetails fitnessdetails";
    gap:30px;
    margin-bottom:100px;
    margin-right:100px;
    margin-left:100px;
}

.formdetails {
    grid-area:formdetails;
    background-color:var(--primary-color);
    color:white;
    font-family:var(--my-font);
    border:solid;
    border-radius:10px;
    padding:30px;
}

/* ------------------- BUTTON/EFFECTS ------------------ */

.inputtheform {
    transition:all 0.3s ease;
}

.inputtheform:hover {
    transform:scale(1.05);
    border-color:var(--button-border-color);
    box-shadow: 4px 4px 16px grey;
}

.quirybutton {
height:50px;
width:120px;
background-color:var(--secondary-color);
border-radius:5px;
color:var(--third-color);
font-family:var(--my-font);
font-weight:bold;
border-color:var(--third-color);
margin-top:10px;
transition:all 0.3s ease;
}

.quirybutton:hover {
transform:scale(1.05);
border-color:var(--third-color);
border-radius:5px;
box-shadow: 4px 4px 16px grey;
}

.quirybutton:active {
background-color:var(--button-color-active);
    border-color:var(--button-border-color);
}

/* ------------------- CONTACT DETAILS ------------------ */

.fitnessdetails {
    grid-area:fitnessdetails;
    background-color:var(--third-color);
    color:var(--secondary-color);
    font-style:italic;
    border-radius:10px;
    padding:30px;
}

.styledetails {
    text-decoration:none;
    color:var(--secondary-color);
}

/* ============================== MEMBERSHIPS ============================== */
/* ------------------- BANNER ------------------ */
.bannermembership {
    height:500px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    flex:1 1 500px;
    background-image: url("https://www.shutterstock.com/image-photo/people-biking-spinning-class-modern-600nw-1897186402.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:30px;
}

.ban3 {
    padding:50px;
    color:var(--secondary-color);
    z-index:5;
    text-align:center;
}

.membershiptitle {
    font-size:30px;
    font-style:italic;
    font-weight:bold;
}
/* ------------------- MEMBERSHIP TIERS ------------------ */

.membershiptier {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    margin-bottom:50px;
    margin-top:50px;
    background-color:var(--primary-color);
    border-radius:10px;
    padding-top:50px;
    padding-bottom:50px;
}

.mstext {
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
    align-content: flex-start;
}

/* ------------------- TEXT DESIGN ------------------ */

.tier {
    width:300px;
    border:solid;
    border-radius:20px;
    text-align:center;
    padding:20px;
    border-color:gray;
    border-width:thin;
    box-shadow:4px 4px 16px gray;
    margin:10px;
    background-color:var(--secondary-color);
}

.tiername {
    font-size:30px;
    color:var(--primary-color);
    font-weight:bold;
    font-family:var(--my-font);
}

.tierbody {
    font-size:18px;
    color:var(--primary-color);
    font-family:var(--my-font);
}
/* ------------------- PERSONAL TRAINING/APP ------------------ */
/* =================== FOOTER =================== */

footer {
    display:flex;
    flex-direction:rows;
    justify-content:space-around;
    background-color:var(--third-color);
    padding-top:20px;
}

.links {
    color:var(--secondary-color);
}

.limited {
    background-color:var(--secondary-color);
    color:grey;
}

/* ============================== MEDIA QUERIES ============================== */

@media (max-width: 768px) {
    .contactform {
    display:grid;
    grid-template-rows:1fr 1fr;
    grid-template-areas:
    "formdetails"
    "fitnessdetails";
    gap:30px;
    margin-bottom:100px;
    }
}